@import 'theme';
@import 'rating';
@import 'loading';
@import 'mixin';
@import url('https://fonts.googleapis.com/css?family=Ranchers');

body {
  background-color: $Red;
  padding: 0;
  color: $Dark;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 24px;
}

h1,
h3 {
  @include fancyFont;
}

h2 {
  font-family: inherit;
}

h1,
h2,
h3 {
  width: 100%;
  margin: 0;
}

ul,
ol {
  padding: 0;
  list-style-type: none;
  text-align: left;
}

button,
.button {
  cursor: pointer;
}

.row {
  margin: 0;
}

a {
  color: $Blue;
  &:hover {
    text-decoration: none;
  }
}

hr {
  margin: 0;
}

.label {
  font-weight: bold;
  font-style: italic;
  margin-right: 5px;
}

.hide {
  display: none;
}

.test {
  display: flex;
}

.display,
.reveal,
.block {
  display: block;
}

.error {
  color: $Red;
}

.center {
  text-align: center;
}

.clearFix::after {
  display: table;
  clear: both;
  content: '';
}

.pointer {
  cursor: pointer;
}

.stdBtn {
  @include button($Lblue, $White);
  cursor: pointer;
}

#root {
  padding-bottom: 90px;
}

.information {
  text-align: center;
  padding: 10px;
  h2 {
    margin-bottom: 15px;
  }
  ul {
    text-align: center;
  }
}

header {
  padding-bottom: 95px;
  nav {
    .show {
      text-align: left;
    }
    background: linear-gradient(#000, $Dblue);
    .navCnt {
      width: 60px;
      height: 60px;
      a {
        &:hover {
          color: $White;
        }
      }
    }
  }
}

.item {
  padding: 10px;
  &.odd {
    background-color: $Dark;
    color: $White;
    .single-chart svg .percentage {
      fill: $White;
    }
  }
  .overlay {
    h3 {
      margin-bottom: 10px;
    }
    .leftItem {
      float: left;
      .title {
        margin: 0;
        a {
          color: $Blue;
        }
      }
      .image {
        @include imgBdrLge;
        display: block;
        img {
          width: 120px;
          border: 2px solid $Blue;
          &:hover {
            transition-duration: 1s;
          }
        }
      }
    }
    .plot {
      a {
        float: right;
        margin: 20px 10% 0 0;
      }
    }
  }
}

.home {
  h1 {
    margin-bottom: 10px;
  }
  .intro,
  .homeCat {
    text-align: center;
    padding: 10px;
  }
  .homeLink {
    display: block;
    width: 100%;
  }
  .bgMain {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
      url('/src/img/movie-reel.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    p {
      color: $White;
    }
  }
  .homeCat {
    font-size: 36px;
    margin: 0;
    background: $Vdblue;
    color: $White;
    width: 100%;
    &:nth-of-type(2) {
      border-bottom: 5px solid $Dblue;
    }
    &:nth-of-type(3) {
      border-bottom: 5px solid $Dred;
    }
    &:nth-of-type(4) {
      border-bottom: 5px solid $Green;
    }
    &:nth-of-type(5) {
      border-bottom: 5px solid $Lblue;
    }
  }
  .homeItem {
    padding: 15px;
    text-align: center;
    h3 {
      margin-bottom: 10px;
    }
    &:nth-child(2n + 1) {
      background-color: $Vlight;
      background-color: $Dark;
      color: $White;
      .single-chart svg .percentage {
        fill: $White;
      }
    }
    &.nowplaying {
      img {
        border: 2px solid $Dblue;
      }
      .stdBtn {
        @include button($Dblue, $White);
        @include homeBtn;
      }
    }
    &.popular {
      img {
        border: 2px solid $Dred;
      }
      .stdBtn {
        @include button($Dred, $White);
        @include homeBtn;
      }
    }
    &.toprated {
      img {
        border: 2px solid $Green;
      }
      .stdBtn {
        @include button($Green, $White);
        @include homeBtn;
      }
    }
    &.upcoming {
      img {
        border: 2px solid $Lblue;
      }
      .stdBtn {
        @include button($Lblue, $White);
        @include homeBtn;
      }
    }
  }
  .image {
    margin-bottom: 10px;
    display: inline-block;
    img {
      width: 180px;
    }
  }
  .title {
    font-size: 20px;
  }
  .plot {
    font-size: 16px;
    margin-bottom: 20px;
    word-wrap: break-word;
  }
  .single-chart {
    clear: both;
  }
}
.results {
  // padding: 0 10px;
  margin-bottom: 90px;
  background-color: $White;
  border: 1px solid $Light;
  &.showlist {
    h1 {
      @include normalFont;
      font-size: 20px;
      background-color: $Vdblue;
      -webkit-text-fill-color: $White;
      padding: 15px;
      margin: 0;
    }
  }
}

.mTypes {
  text-align: center;
  width: 100%;
  span {
    margin-right: 10px;
    &:hover {
      @include hover;
    }
  }
}
.results.show {
  // border: 1px solid #b5b5b7;
  background-color: $White;
  h2 {
    @include h2Header;
  }
  .show {
    background-size: 0px; // hack
    text-align: center;
    background-color: $White;
    .img {
      display: none;
    }
    .info {
      background-color: $White;
      padding: 10px;
    }
    .showInfo {
      h1 {
        span {
          @include subFont;
        }
      }
    }
  }
  .other {
    text-align: center;
    & > div {
      padding: 5px;
    }
    .otherInner {
      & > div {
        padding: 5px;
      }
      & > div:nth-child(2n + 0) {
        background-color: $White;
      }
    }
  }
  .credits {
    background-color: $White;
    color: $Dark;
    text-align: center;
    padding-bottom: 20px;
    .actorItem {
      padding: 5px;
      margin-bottom: 20px;
      &.hide {
        display: none;
      }
      &.reveal {
        display: block;
      }
    }
    .creditsInner {
      @include imgFrame;
      height: 100%;
      // box-shadow: 0 3px 7px $Light;
      padding: 5px;
      h2 {
        font-size: 30px;
        margin: 20px 0 20px 20px;
        color: $Dark;
      }
      h3 {
        font-size: 30px;
        -webkit-text-fill-color: $White;
        margin-bottom: 10px;
      }
      .character {
        font-size: 16px;
        margin-top: 10px;
      }
      img {
        width: 50%;
      }
    }
  }
  .similar {
    // background-color: $White;
    color: $Dark;
    padding-bottom: 20px;
    .results {
      border: 0;
      max-width: 100%;
      margin-bottom: 20px;
    }
    &.item {
      &.odd {
        color: $White;
      }
      &.hide {
        display: none;
      }
      &.reveal {
        display: block;
      }
    }
  }
}
footer {
  position: fixed;
  bottom: 0;
  background-color: $Black;
  text-align: center; // height: 35px;
  left: 0;
  width: 100%;
  a {
    color: $White;
    font-size: 12px;
    padding: 0 10px;
    border-right: 1px solid $White;
    &:last-child {
      border-right: 0;
    }
  }
  .scroller {
    margin-right: 5%;
    right: 0;
    cursor: pointer;
    position: fixed;
    bottom: 38px;
    display: none;
    img {
      opacity: 0.5;
      &:hover {
        opacity: 1;
      }
    }
  }
}
.toggleList {
  text-align: center;
}

.actors {
  text-align: center;
  h2 {
    @include h2Header;
  }
  .actorItem {
    padding: 5px;
    margin-bottom: 20px;
    h3 {
      margin-bottom: 10px;
      font-size: 36px;
    }
    .actorInner {
      @include imgFrame;
      padding: 10px;
      height: 100%;
    }
  }
}
.actor {
  h2 {
    @include h2Header;
  }
  .actor {
    h1 {
      padding: 10px;
      div {
        @include subFont;
        margin-top: 15px;
      }
    }
    .image {
      img {
        width: 100%;
        max-width: 400px;
        border: 10px ridge $Dark;
      }
    }
    .other {
      text-align: center;
      & > div {
        padding: 5px 10px;
      }
      & > div:nth-child(2n + 0) {
        background-color: $Vlight;
      }
      li:nth-child(2n + 1) {
        background-color: $White;
      }
    }
  }
  .credits {
    // border: 1px solid $Light;
    background: $White;
    .moreSimilar {
      margin: 20px auto;
    }
    .character {
      margin-bottom: 10px;
    }
  }
  .actorImgs {
    // border: 1px solid $Light;
    div:nth-child(2n + 1) {
      background-color: $Vlight;
    }
    .carousel.slide {
      .img-fluid {
        @include imgFrame;
      }
    }
  }
}
.hero {
  img {
    border: 10px ridge $Dark;
  }
}
.starredIn {
  .character {
    margin-bottom: 10px;
  }
}
.notFound {
  text-align: center;
  margin: 0 auto;
  padding: 10px;
  img {
    width: 100%;
    max-width: 300px;
  }
  hr {
    margin: 20px 0;
  }
}
.errorBdry {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
  img {
    max-width: 100%;
  }
}
@media screen and(min-width: 380px) {
  .home {
    .homeItem {
      text-align: left;
      .image {
        float: left;
        @include imgBdrLge;
        img {
          width: 130px;
        }
      }
      .title {
        font-size: 26px;
      }
    }
  }
}
@media screen and (min-width: 576px) {
  // h1 {
  //   font-size: 54px;
  // }
  h3 {
    font-size: 32px;
  }
  .home {
    .homeItem {
      .plotTxt {
        min-height: auto;
      }
    }
  }
  .results.show {
    .show {
      .info {
        .hero {
          float: left;
          margin: 0 10px 10px 0;
        }
      }
    }
  }
  .actors {
    .actorItem {
      h3 {
        font-size: 30px;
      }
    }
  }
}
@media screen and(min-width: 768px) {
  .home {
    .homeCat {
      font-size: 5vw;
    }
    .homeItem {
      text-align: center;
      .image {
        float: none;
        margin: 0;
        img {
          width: 100%;
          margin-bottom: 20px;
        }
      }
      .title {
        font-size: 3vw;
      }
      .plot {
        text-align: left;
      }
    }
  }
  .results {
    .item {
      border-bottom: 1px solid $Light;
      &.odd {
        background-color: $White;
        color: $Dark;
        border-right: 1px solid $Light;
        .single-chart svg .percentage {
          fill: #666;
        }
      }
    }
  }
  .results.show {
    .show {
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      text-align: center;
      color: $White; // width: 992px;
      margin: 0 auto; // background-color: red;
      position: relative;
      min-height: 580px;
      .img {
        display: none;
        width: 100%;
        img {
          width: 100%;
          // display: none;
        }
      }
      text-align: left;
      .info {
        background-color: transparent;
        vertical-align: top;
        width: 100%;
        position: absolute;
        top: 15%;
        left: 0; // background: #000;
        /* opacity: 0.5; */
        padding: 20px;
        text-align: center;
        // vertical-align: top;
        // width: 70%;
        // position: absolute;
        // top: 20%;
        // left: 20%;
        // background-color: black;
        .showInfo {
          display: inline-block;
          width: 65%;
          text-align: left;
          .single-chart {
            display: inline-block;
            width: 100%;
            text-align: center;
            .percentage {
              fill: $White;
            }
          }
          .rate {
            display: inline-block;
            vertical-align: top;
            text-shadow: 1px 1px 1px #fff;
          }
        }
        .hero {
          @include imgBdrLge;
          float: none;
          display: inline-block;
          vertical-align: top;
          img {
            width: 200px;
          }
        }
      }
    }
    .credits {
      h2 {
        font-size: 30px;
        // margin: 20px 0;
      }
      h3 {
        font-size: 20px;
        -webkit-text-fill-color: $White;
      }
      .character {
        font-size: 14px;
      }
    }
    .similar.item.odd {
      color: $Dark;
    }
  }
  .actors {
    .actorItem {
      h3 {
        font-size: 36px;
      }
    }
  }
}
@media screen and(min-width: 992px) {
  .results {
    &.home,
    &.showlist,
    &.show,
    &.actor,
    &.actors {
      max-width: 992px;
      margin: 0 auto 90px;
      overflow: hidden;
    }
    .item {
      border: 0;
      &.odd {
        border: 0;
      }
    }
  }
  .item {
    margin-top: 5px;
    &.odd {
      background-color: $White;
    }
    .image {
      float: left;
      @include imgBdrLge;
      img {
        height: 278px;
        width: 185px;
      }
    }
    .overlay {
      border: 1px solid #888;
      box-shadow: 0 2px 8px $Light;
      padding: 10px 15px;
      height: 406px;
      overflow: hidden;
      .leftItem {
        .rating {
          color: #999;
          font-size: 12px;
          text-align: right;
          position: absolute;
          bottom: 0;
          right: 10px;
        }
        .image {
          img {
            width: auto;
            border: 2px solid $Dblue;
            &:hover {
              opacity: 0.8;
              transform: scale(1.05);
              backface-visibility: hidden;
              transform: translateZ(0) scale(1);
              transition: all 0.5s ease-out;
            }
          }
        }
        &.more {
          border: 0px;
          display: inline-block;
          margin: 10px 5px;
        }
        &.even {
          img {
            float: right;
            margin: 5px 0 0 10px;
          }
        }
      }
      .rightItem {
        display: none;
      }
    }
  }
  .results.show {
    .show {
      .info {
        // top: 20%;
        .showInfo {
          width: 55%;
        }
      }
    }
  }
  .actors {
    .actorItem {
      h3 {
        font-size: 28px;
      }
    }
  }
}
