// Loading component style
#loadingPH {
  margin: 0 auto;
  max-width: 992px;
}

.loadPHolder {
  background: #fff;
  border: 1px solid;
  border-color: #e5e6e9 #dfe0e4 #d0d1d5;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  margin-bottom: 20px;
}

.loadPHolder-inner {
  height: 260px;
  padding: 15px;
  position: relative;
}

.loadPHolder-body div {
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-name: placeholderloadingPH;
  -webkit-animation-timing-function: linear;
  background: #f6f7f8;
  background-image: -webkit-gradient(
    linear,
    left center,
    right center,
    from(#f6f7f8),
    color-stop(0.2, #edeef1),
    color-stop(0.4, #f6f7f8),
    to(#f6f7f8)
  );
  background-image: -webkit-linear-gradient(
    left,
    #f6f7f8 0%,
    #edeef1 20%,
    #f6f7f8 40%,
    #f6f7f8 100%
  );
  background-repeat: no-repeat;
  background-size: 800px 104px;
  height: 104px;
  position: relative;
}

.loadPHolder-body {
  -webkit-animation-name: loadingPHAnimate;
  background-image: -webkit-gradient(
    linear,
    center top,
    center bottom,
    from(deg),
    color-stop(0, red),
    color-stop(0.15, orange),
    color-stop(0.3, yellow),
    color-stop(0.45, green),
    color-stop(0.6, blue),
    color-stop(0.75, indigo),
    color-stop(0.8, violet),
    to(red)
  );
  background-image: -webkit-linear-gradient(
    135deg,
    red 0%,
    orange 15%,
    yellow 30%,
    green 45%,
    blue 60%,
    indigo 75%,
    violet 80%,
    red 100%
  );
  background-repeat: repeat;
  background-size: 50% auto;
}

.loadPHolder-body div {
  position: absolute;
  right: 15px;
  left: 15px;
  top: 25px;
}

div.loadingPH-avatar {
  height: 70px;
  width: 60px;
  border-radius: 60px;
  right: auto;
}

div.loadingPH-hdr {
  top: 40px;
  height: 80px;
  width: 70%;
  margin: 0 auto;
}

div.loadingPH-label {
  top: 135px;
  height: 10px;
  margin: 0 auto;
  width: 70%;
}

div.loadingPH-content-1,
div.loadingPH-content-2,
div.loadingPH-content-3 {
  left: 15px;
  right: 15px;
  height: 10px;
}

div.loadingPH-content-1 {
  top: 160px;
  height: 1px;
}

div.loadingPH-content-2 {
  top: 175px;
}

div.loadingPH-content-3 {
  height: 40px;
  top: 200px;
}

@-webkit-keyframes placeholderloadingPH {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}

@-webkit-keyframes loadingPHAnimate {
  from {
    background-position: top left;
  }
  to {
    background-position: top right;
  }
}
