.mainOuter {
  max-width: 1112px;
  margin: 0 auto 90px;
  overflow: hidden;
}

/* GLOBAL STYLES */
.centre {
  text-align: center;
  border: 1px solid red;
}
@media screen and (min-width: 576px) {
  h1 {
    font-size: 54px;
  }
  h3 {
    font-size: 32px;
  }
}
